/*Copyright 2020 Siddharth Bhatia*/
body {
    margin: 0;
    font-size: 17px;
    background-image: url(/content/charolette.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


/*.mainTitle {
	/*Have highlight extend as if it is a box around the text
	And the text should be negative space in the center of the box 
	font-size: 50px;
	color: black;
	background: hsl(148, 100%, 47%);
}*/


/*
#mainVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}



#vidMuteButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: none;
	border-radius: 12px;
	background: #000;
	color: #fff;
	cursor: pointer;
}*/

#vidMuteButton:hover {
    background: hsl(148, 100%, 47%);
    color: black;
}

#mainPicture {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#mainTitle {
    font-size: 200px;
    font-family: Brush Script MT;
    color: hsl(0, 0%, 0%);
    height: inherit;
    width: inherit;
    text-decoration-line: underline;
    text-decoration-color: #3cb169;
    background-blend-mode: hard-light;
}

.content {
    position: fixed;
    top: 5%;
    left: 0;
    background: hsla(148, 100%, 50%, 0.19);
    color: #f1f1f1;
    width: 250px;
    padding: 2px;
}

#titlePage {
    width: 100%;
    max-height: 100%;
}

.centered-title {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#topLeft {
    position: absolute;
    top: 0;
    right: 2px;
    width: 60px;
    height: 20px;
}

#topLeft p {
    color: white;
    background: black;
    padding: 3px;
}

#sideNav {
    position: sticky;
    z-index: 20;
}

#sideNav a {
    position: absolute;
    right: -89px;
    transition: 0.3s;
    padding: 8px;
    width: 90px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
    text-align: center;
    border-radius: 1px;
    border-color: white;
    /*border-radius: 30px 0 0 30px;*/
}

#sideNav #full {
    top: 20px;
}

#sideNav #bestQuality {
    top: 60px;
    font-size: 14px;
    text-align: right;
    right: -91px;
    width: 92px;
    border-width: 2px;
    /*border-left-style: solid;*/
}

#sideNav a:hover {
    right: 0px!important;
}

#captionDiv {
    /*font: Arial;*/
    color: #ffffff;
    position: absolute;
    bottom: 0px;
    right: 10px;
    line-height: 0px;
    text-align: end;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .14), 2px 1px 0 rgba(0, 0, 0, .12), 1px 2px 0 rgba(0, 0, 0, .2);
}

div caption {
    line-height: 0px;
}

#captionTitle {
    font-weight: bolder;
    font-size: 20px;
}

p#captionSubtitle {
    font-size: 14px;
}

#continue-caption {
    color: white;
    font-size: 25px;
    opacity: 0;
    animation-name: text-focus-in;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /*Animation will retain values from it's last frame when it finishes*/
}

@keyframes simple-move {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    60% {
        filter: blur(0px);
        opacity: 1;
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        transform: translateX(0);
    }
    80% {
        text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
        transform: translateX(-8px);
    }
    100% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        transform: translateX(0);
        opacity: 1;
        filter: blur(0px);
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-5-22 10:46:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/*
 * ----------------------------------------
 * animation text-shadow-pop-right
 * ----------------------------------------
 *
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
    transform: translateX(-8px);
  }
}*/


/*Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A2000%2CD%3A0%2Cf%3A%7Bx%3A0%2Cy%3A0%7D%2Ct%3A%7Bx%3A100%2Cy%3A0%7D%2Cs%3A1%2Cb%3A5%7D%5D%7D 

@-webkit-keyframes moveAnimation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 43.197, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 43.197, 0, 0, 1); }
  7.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 88.871, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 88.871, 0, 0, 1); }
  11.91% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 118.941, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 118.941, 0, 0, 1); }
  15.82% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 127.582, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 127.582, 0, 0, 1); }
  20.42% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 119.618, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 119.618, 0, 0, 1); }
  24.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.936, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.936, 0, 0, 1); }
  29.53% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 95.97, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 95.97, 0, 0, 1); }
  34.03% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 93.074, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 93.074, 0, 0, 1); }
  43.14% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 98.535, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 98.535, 0, 0, 1); }
  52.15% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 101.739, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 101.739, 0, 0, 1); }
  70.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.563, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.563, 0, 0, 1); }
  88.59% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.11, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.11, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1); } 
}
*/

@keyframes move-animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    4% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 43.197, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 43.197, 0, 0, 1);
    }
    7.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 88.871, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 88.871, 0, 0, 1);
    }
    11.91% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 118.941, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 118.941, 0, 0, 1);
    }
    15.82% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 127.582, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 127.582, 0, 0, 1);
    }
    20.42% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 119.618, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 119.618, 0, 0, 1);
    }
    24.92% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.936, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 105.936, 0, 0, 1);
    }
    29.53% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 95.97, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 95.97, 0, 0, 1);
    }
    34.03% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 93.074, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 93.074, 0, 0, 1);
    }
    43.14% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 98.535, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 98.535, 0, 0, 1);
    }
    52.15% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 101.739, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 101.739, 0, 0, 1);
    }
    70.37% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.563, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 99.563, 0, 0, 1);
    }
    88.59% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.11, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100.11, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
}

position: absolute;
top: 0px;
right: 0px;

}
*/